@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('contato.css');
@import url('fotos.css');
@import url('comentarios.css');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Kdam Thmor Pro", sans-serif;
}

body{
    background-color: black;
    color: white;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}

#logoBatman{
    width: 100px;
}

.navbar{
    background-color: black;
    height: 80px;
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#cartazBatmanMobile{
    width: 100%;
}

#cartazBatmanDesk{
    display: none;
}

#videoBatman{
    width: 100%;
}

#textoTrailerFilme{
    margin-left: 3%;
    text-align: left;
}

#InformacoesTrailer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#botaoComprarIngresso{
    background-color: #D21617;
    color: white;
    font-size: 1rem;
    padding: 3% 10%;
    border-radius: 8px;
    margin-top: 2%;
    margin-bottom: 2%;
}

#botaoComprarIngresso:hover{
    transform: scale(1.1);
    transition: ease-in-out;
    transition-duration: 0.5s;
    background-color: #fff;
    color: black;
}

#sectionBatman{
    display: block;
    text-align: center;
    margin-bottom: 2%;
}

#sectionBatman > p{
    position: absolute;
    text-align: left;
    transform: translate(40%, -150%);
}

#sectionMulherGato{
    display: block;
    text-align: center;
    margin-bottom: 2%;
}

#sectionMulherGato > p{
    position: absolute;
    text-align: left;
    transform: translate(40%, -150%);
}

#sectionGordon{
    display: block;
    text-align: center;
    margin-bottom: 2%;
}

#sectionGordon > p{
    position: absolute;
    text-align: left;
    transform: translate(40%, -150%);
}

#batman1{
    width: 80%;
    position: relative;
}

#batman1:hover{
    transform: scale(1.1);
    transition: ease;
    transition-duration: 1s;
}

#mulherGato1{
    width: 80%;
}

#mulherGato1:hover{
    transform: scale(1.1);
    transition: ease;
    transition-duration: 1s;
}

#gordon1{
    width: 80%;
}

#gordon1:hover{
    transform: scale(1.1);
    transition: ease;
    transition-duration: 1s;
}

.rodape{
    margin-top: 5%;
    text-align: center;
}

#desenvolvidoPor{
    margin-top: 3%;
}

#listNavbar{
    display: none;
}

#divBotaoComprarIngresso{
        display: flex;
        justify-content: center;
}

#logoBatmanRodape{
    width: 100px;
}

.navegacaoRodape{
    margin-top: 5%;
    background-color: rgb(42, 40, 40);
}

#rodapeList a{
    color: #fff;
    list-style: none;
}

@media (min-width: 768px){
    *{
        font-size: 20px;
    }

    #logoBatman{
        width: 150px;
    }

    #logoBatmanRodape{
        width: 150px;
    }

}

@media (min-width: 1024px){
    *{
        font-size: 20px;
    }

    .navegacaoRodape{
        display: none;
    }

    #cartazBatmanMobile{
        display: none;
    }

    #cartazBatmanDesk{
        display: block;
        width: 100%;
    }

    header{
        justify-content: space-around;
        width: 100%;
    }

    .navbar{
        display: flex;
        width: 90%;
    }

    #logoBatman{
        /* margin-left: 30%; */
        /* margin-right: 20%; */
        /* margin-top: 5%; */
    }

    #listNavbar{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        width: 95%;
        list-style: none;
        /* gap: 5%; */
        place-items: center;
    }
    
    #listNavbar a{
        color: white;
    }
    
    #listNavbar a:hover{
        color: #D21617;
        transition: 0.5s;
    }

    #videoBatman{
        width: 60%;
        /* margin-left: 2%; */
    }

    #InformacoesTrailer{
        width: 50%;
    }

    #divTrailerFilme{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
    }

    #textoTrailerFilme{
        font-size: 20px;
    }

    #botaoComprarIngresso{
        padding: 1% 4%;
    }

    .sections{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

    .rodape{
        
    }

    #logoBatmanRodape{
        margin: 0;
        padding: 0;
        width: 150px;
    }
    
}